
html{
    font-size: 16px;
    background-color: lightgray;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
.box{
    width: 775px;
    height: 470px;
    background-color: #FFB084;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px ;
    grid-template-rows: 10px 10px 10px 10px 10px 10px 10px 10px
    10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 
    10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    row-gap: 6px;
    column-gap: 11px;
}
.name{
    grid-row: 1/24;
    grid-column: 1/5;
    background-color: white;
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 0.857rem;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 7px 7px black;
}
.bio{
    grid-row: 1/10;
    grid-column: 5/12;
    background-color: white;
    border-radius: 20px;
    padding: 15px 25px;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 7px 7px black;
}
.goals{
    grid-row: 11/18;
    grid-column: 5/8;
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px;
    box-shadow: 7px 7px #29A71E;
}
.dream-companies{
    grid-row: 19/30;
    grid-column: 5/8;
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px;
    margin-bottom: 20px;
    box-shadow: 7px 7px #3675B0;
}
.frustrations{
    grid-row: 11/22;
    grid-column: 8/11;
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px;
    box-shadow: 7px 7px #E13535;
}
.moto{
    grid-row: 25/30;
    grid-column: 1/5;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 5px 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 7px 7px black;
}
.personality{
    grid-row: 23/30;
    grid-column: 8/11;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px black;
}
.bold-700{
    font-weight: 700;
}
.bold-600{
    font-weight: 600;

}
.green{
    color: #29A71E;
    padding-left: 20px;
}
.red{
    color: #E13535;
    padding-left: 20px;
}
.blue{
    color: #3675B0;
    padding-left: 20px;
}
.black{
    padding-top: 5px;
}
div ul{
    margin-top: 5px;
}
.photo{
    padding-left: 58px;
}
h2{
    text-align: center;
}