body, ul{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
.header{
    /* width: 1920px; */
    height: 90px;
    background-color: #202846;
    overflow: auto;
}
.header__logo-img{
    float: left;
    padding: 10px 0 0 6%;
    margin-right: 450px;
}
.nav_item{
    float: left;
    text-align: center;
    list-style: none;
    font-weight: 700;
    font-size: 24px;
    padding: 25px 0 0 0px;
}
.border{
    border-right: 1px solid white;
    text-decoration: none;
    padding: 0 22px;
    color: #FFF;
}
.language{
    text-decoration: none;
    padding: 0 0 20px 0;
    color: #FFF;
    font-weight: 700;
    font-size: 24px;
}
.globe{
    padding: 10px 20px 0 20px;
    vertical-align: middle;
}
.main{
    /* width: 1920px; */
    height: 140px;
    padding: 35px 0 0 200px;
    box-sizing: border-box;
    background-color: #C6C6DC;
    font-size: 48px;
    font-style: italic;
}
.box{
    /* width: 1920px; */
    background-color: #E5E5E5;
    padding-top: 185px;
    padding-bottom: 50px;
}
.card{
    width: 80%;
    margin: 0 auto;
    background-color: #BDBDC6;
    overflow: auto;
}

.card-img{
    width: 35%;
    float: left;
}
.img{
    width: 485px;
    height: 244px;
    padding: 23px 70px;
}
.content{
    width: 51%;
    display: inline-block;
    padding-left: 108px;
    padding-bottom: 10px;
}
.title{
    font-weight: 700;
    font-size: 36px;
    font-style: italic;
    padding-top: 10px;
}
.line{
    border-bottom: 3px solid white;
    padding-top: 1px;
    margin-bottom: 10px;
}
.subtitle{
    background-color: #D7D7DD;
    font-size: 22px;
    text-align: center;
    padding: 26px 60px 24px 60px;
    box-sizing: border-box;
}
.star{
    position: relative;
    top: -290px;
    left: 1672px;
    z-index: 2;
    width: 50px;
    height: 0px;
}
.star:hover >img{
    fill: yellow;
    background-color: yellow;
    transition: background-color .5s;
}
.btn{
    position:relative;
    top: -77px;
    left: 1601px;
    z-index: 3;
    width: 200px;
    height: 60px;
    background-color: #202846;
    border-radius: 100px;
    text-align: center;
    padding-top: 13px;
    box-sizing: border-box;
}
.btn-link{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}
.footer{
    width: 1920px;
    color: #EEECF1;
    background-color: #202846;
    font-style: italic;
    font-size: 36px;
    padding-left: 85px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.up_arrow_btn{
    width: 101px;
    background-color: #555768;
    border-radius: 100px;
    /* align-items: center; */
    text-align: center;
    padding: 23px 0;
    position: fixed;
    top: 850px;
    left: 1807px;
    z-index: 5;
}