body{
    background-color: #E5E5E5;
    vertical-align: top;
}
.rows{
    max-height: 646px;
    /* box-sizing: border-box; */
}
.square{
    height: 543px;
    width: 512px;
    display: inline-block;
    margin: 12px 50px 88px 50px;
    box-sizing: border-box;
}
.circle{
    height: 543px;
    width: 512px;
    display: inline-block;
    margin: 12px 50px 88px 50px;
    background-color: white;
    vertical-align:top;

}
.square_blue{
    height: 271.5px;
    width: 512px;
    background-color: #2137FC;
    vertical-align:top;
}
.square_yellow{
    height: 271.5px;
    width: 512px;
    background-color: rgba(255, 206, 34, 1);
    vertical-align:top;
}
.square_black{
    height: 543px;
    width: 512px;
    background-color: black;
}
.circle_blue{
    height: 233.5px;
    width: 444px;
    background-color: #2137FC;
    border-radius: 300px 300px 0 0;
    margin: 38px auto 0 auto;
}
.circle_yellow{
    height: 222px;
    width: 444px;
    background-color: rgba(255, 206, 34, 1);
    border-radius: 0 0 300px 300px;
    margin: 0 auto 38px auto;
}
.circle_glyph{
    background-image: url("../img/glyph_small.png");
    background-repeat: no-repeat;
    background-position: 40px 1px;
}
.img_glyph_big{
    margin:159px 0px 244px 60px;
}
.img_hexagon_big{
    margin:65px 0 172px 0;
}
.img_hexagon_small{
    padding: 82px 0 190px 80px;
}
.img_plane_big{
    padding: 160px 0px 0 169px;
}
.img_plane_small{
    padding: 177px 0 111px 78px;
    margin: -103px 0 0 0;
}
.img_diya{
    padding: 162px 0 0 86px;
    margin: 1px 0 0 0;
}
.flag_blue{
    background-color: #2137FC;
    height: 30px;
    width: 80px;
    border-radius: 5px 5px 1px 1px;
}
.flag_yellow{
    background-color: #FFD84B;
    height: 30px;
    width: 80px;
    border-radius: 1px 1px 5px 5px;
}
.under_blue{
    margin: 20px 0 0 200px;
}
.under_yellow{
    margin: 0px 0 0 200px;
}
.left_blue{
    margin: -320px 0 0 35px;
}
.left_yellow{
    margin: 0px 0 0 35px;
}
.right_blue{
    margin: -59px 0 0 385px;
}
.right_yellow{
    margin: 0px 0 0 385px;
}