body{
    margin: 0 auto;
    font-family: Inika, serif;
}
.h1{
    margin: 72px 0;
    font-size: 40px;
    font-weight: 700;
}
.line{
    border-bottom: 5px solid rgba(62, 69, 232, 1);
    width: 402px;
}
.header{
    height: 110px;
    text-align: center;
    color: rgba(62, 69, 232, 1);
    font-family: 'M PLUS 1';
    font-size: 48px;
    font-weight: 400;
    padding: 20px 0;
    box-sizing: border-box;
}
.header-span{
    color: rgba(232, 194, 62, 1);
}
.banner{
    background-image: url("../img/Kaminets.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 803px;
    padding-top: 195px;
    padding-left: 80px;
    box-sizing: border-box;
}

.content{
    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
    height: 272px;
    width: 65%;
    padding-left: 3%;
    padding-top: 1%;
    box-sizing: border-box;
    font-size: 48px;
    color:rgba(255, 255, 255, 1);
}
.main{
    padding: 0 80px;
    margin-bottom: 30px;
}
.card{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    border-radius: 38px;
    box-shadow: 0px 4px 57px 3px rgb(0 0 0 /25%);
   }
.card_margin{
    margin: 0 4.5%;
}
.card__img{
    width: 100%;
}
.card__title{
    font-size: 24px;
    font-weight: 700;
    color: rgba(30, 141, 242, 1);
    padding: 10px 0 10px 10px;
    box-sizing: border-box;
}
.card__subtitle{
    font-weight: 400;
    font-size: 20px;
    color: rgba(232, 194, 62, 1);
    padding-left: 10px;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.map{
    text-align: center;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
.line_centre{
    margin: 0 auto;
    border-bottom: 5px solid rgba(62, 69, 232, 1);
    width: 402px;
}
.link{
    text-decoration: none;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    width: 591px;
    background-color:rgba(42, 97, 240, 1);
    color: rgba(255, 255, 255, 1);
    padding: 10px 50px;
    box-sizing: border-box;

}
.map_img{
    margin: 40px 0;
}
.footer{
    background-color: #2F4A4B;
    height: 320px;
    text-align: center;
    color: rgba(62, 69, 232, 1);
    font-family: 'M PLUS 1', serif;
    font-size: 48px;
    font-weight: 400;
    padding: 20px 0;
}
.contacts{
    font-family: 'Marcellus SC';
    font-size: 36px;
    font-weight: 400;
    color: rgba(168, 157, 157, 1);
    text-decoration: none;
}
.social{
    margin-top:35px;
}