html{
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-style: italic;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 1;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    z-index: 1;
    height: 80px;
}
.logo{
    padding: 0;
    height: 80px;
}
.header ul{
    list-style: none;
    display: flex;
    align-items: center;
}
li.nav-item > a{
    text-decoration: none;
    color: #FFFCFC;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s;
    cursor: grab;
    font-size: 2rem; 
}
/* Page One */
.page_one{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 100px;
}
.gallery-pic1{
    width: 270px;
    padding: 50px 0 0 50px;
    animation: pic1 3s forwards;
    transition: all 4s linear; 
}
@keyframes pic1{
    0%{
        transform: translateX(-100vw);}
    100%{
        transform: translateX(0vw);}
}
.gallery-pic2{
    width: 325px;
    padding-bottom: 10px;
    animation: pic2 2s forwards;
    transition: all 3s linear;
}
@keyframes pic2{
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}
.gallery-pic3{
    width: 325px;
    padding-bottom: 10px;
    animation: pic3 2s forwards;
    transition: all 3s linear;
}
@keyframes pic3{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}
.gallery-pic4{
    width: 325px;
    animation: pic2 2s forwards;
    transition: all 3s linear;
}
@keyframes pic4{
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}
.gallery-pic5{
    width: 325px;
    animation: pic5 2s forwards;
    transition: all 3s linear;
}
@keyframes pic5{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}
.gallery-pic6{
    width: 270px;
    padding: 50px 50px 0 0;
    animation: pic6 3s forwards;
    transition: all 4s linear; 
}
@keyframes pic6{
    0%{
        transform: translateX(100vw);}
    100%{
        transform: translateX(0vw);}
}
/* Page Two */
.page_two{
    display: flex;
    margin-bottom: 100px;
}
.works{
    width: 50%;
    display: flex;
    /* flex-wrap: wrap; */
    margin-left: 70px
}
.works_one, .works_two, .works_three, .works_four{
    width: 200px;
    text-align: center;
    font-size: 2.0rem;
}
.works img{
    width: 200px;
}
.works_one{
    position: relative;
    top: 20px;
    left: 20px;
    animation: work_1 5s infinite;
    transition: all 5s linear;
}
@keyframes work_1{
    25%{
        top: 20px;
        left: 400px;
    }
    50%{
        top: 350px;
        left: 400px;
    }
    75%{
        top: 350px;
        left: 20px;
    }  
}
.works_two{
    position: relative;
    top: 20px;
    left: 200px;
    animation: work_2 5s infinite;
    transition: all 5s linear;
}
@keyframes work_2{
    25%{
        top: 350px;
        left: 200px;
    }
    50%{
        top: 350px;
        left: -180px;
    }
    75%{
        top: 20px;
        left: -180px;
    }
}
.works_three{
    position: relative;
    top: 105px;
    left: 20px;
    animation: work_3 5s infinite;
    transition: all 5s linear;
}
@keyframes work_3{
    25%{
        top: -225px;
        left: 20px;
    }
    55%{
        top: -225px;
        left: 400px;
    }
    75%{
        top: 105px;
        left: 400px;
    }
}
.works_four{
    position: relative;
    top: 65px;
    left: 200px;
    animation: work_4 5s infinite;
    transition: all 5s linear;
}
@keyframes work_4{
    25%{
        top: 65px;
        left: -180px;
    }
    50%{
        top: -265px;
        left: -180px;
    }
    75%{
        top: -265px;
        left: 200px;
    }
}
.tools{
    width: 50%;
    text-align: right;
}
.tools img{
    width: 85%;
}
/* Page Three */
.page_three{
    margin-bottom: 100px;
}
.title{
    font-size: 3rem;
    font-style: normal;
    padding-bottom: 20px;
    text-align: center;
}
.experts{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}
.expert1, .expert2, .expert3, .expert4{
    width: 300px;
    height: 520px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.6);
    transition: all 0.5s;
}
.expert1{
    background-image: url(../img/page3_1.png);
}
.expert1:hover{
    background-image: url(../img/page3_1.png), url(../img/brown_rectangle_1.png);
    background-blend-mode: overlay;
    background-position: 0 0, 0 410px;
    background-size: cover, 102%;
    filter: brightness(1);
}
.expert2{
    background-image: url(../img/page3_2.png);
}
.expert2:hover{
    background-image: url(../img/page3_2.png), url(../img/brown_rectangle_2.png);
    background-blend-mode: overlay;
    background-position: 0 0, 0 410px;
    background-size: cover, 102%;
    filter: brightness(1);
}
.expert3{
    background-image: url(../img/page3_3.png);
}
.expert3:hover{
    background-image: url(../img/page3_3.png), url(../img/brown_rectangle_3.png);
    background-blend-mode: overlay;
    background-position: 0 0, 0 410px;
    background-size: cover, 102%;
    filter: brightness(1);
}
.expert4{
    background-image: url(../img/page3_4.png);
}
.expert4:hover{
    background-image: url(../img/page3_4.png), url(../img/brown_rectangle_4.png);
    background-blend-mode: overlay;
    background-position: 0 0, 0 410px;
    background-size: cover, 102%;
    filter: brightness(1);
}
/* Page Four */
.box_page4{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.title_page4{
    font-style: italic;
    font-size: 2.5rem;
    text-align: center;
}
.form{
    background-color: #E5E5E5;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px 0 0 20px;
}
.input{
    width: 43%;
}
.message{
    width: 93%;
    padding-bottom: 100px ;
}
.input, .message{
    font-size: 2.25rem;
    font-family: 'Rosario', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    margin: 15px;
}
.map{
    width: 40%;
}
.footer{
    display: flex;
    justify-content:space-evenly;
}
.boldtext1{
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
}
.boldtext2{
    font-style: normal;
    font-weight: 700;
}
.footer_box{
    text-align: center;
    font-weight: 600;
    font-size: 1.875rem;
}
.socials{
    text-align: left;
    padding-left: 50px;
}
.underline{
    text-decoration: none;
    color: black;

}