html{
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    color: #171717;
}
.main{
    max-width: 1000px;
    min-width: 700px;
    margin: 0 auto;
}
.main-header{
    padding: 64px 0 79px 48px;
    font-size: 1.5rem;
}
.mendatory-field{
    font-size: 0.875rem;
    padding-left: 43px;
}
.header2{
    font-size: 1.25rem;
    padding-left: 43px;
}
.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 45px 0 43px;
}
.form{
    width: 49%;
    margin-top: 18px;
}
.hidden{
    visibility: hidden;
}
.field{
    font-family: 'Public Sans', sans-serif;
    width: 392px;
    height: 30px;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 8px;
    color: black;
}
.checkbox{
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-color: #fff;
    padding-top: 20px;
}
.purged, .app-fee-process, .child-support{
    font-weight: 400;
    padding-top: 26px;
    width: 49%;
}
.checkbox-lable{
    vertical-align: super;
}
.checkbox-lable-supp{
    vertical-align:top;
    padding-left: 10px;
}
.gray{
    background-color:#EFEFEF;
    color: #747474;
}
.red{
    color: #D83933;
}
.line{
    border-top: 2px solid #D1D1D1;
    margin: 32px 90px 32px 43px;
}
.bnt-next{
    width: 69px;
    background-color: #0050D8;
    color: white;
    border-radius: 4px;
    padding: 9px 16px 9px 16px;
    font-weight: 700;
    box-sizing: border-box;
    text-decoration: none;
}
.btn-blue{
    margin-left: 830px;
    margin-bottom: 100px;
}
.arrow-down{
    background-image: url("../img/arrowdown.svg");
    background-repeat: no-repeat;
    background-position: 365px 5px;
}
.zoomlens{
    background-image: url("../img/zoomlens.svg");
    background-repeat: no-repeat;
    background-position: 365px 4px;
}
.search-field{
    font-family: 'Public Sans', sans-serif;
    width: 400px;
    height: 35px;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 8px;
}
