html{
    font-size: 16px;
}
body{
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.container{
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.logo{
    width: 77px;
    margin-top: 13px;
    margin-left: 170px;
}
.input-group-text{
    height: 40px;
    background-color: #fff;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}
.left{
    border-left: 2px solid #000;
    border-radius: 5px 0 0 5px;
}
.right{
    border-right: 2px solid #000;
    border-radius: 0 5px 5px 0;
}
.input-group{
    width: 500px;
    height: 50px;
    align-items: center;
    margin: 0 200px 0 100px;
}
.form-control{
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
}
.orange{
    background-color: #EF781A;
    border: #EF781A;
    margin-right: 20px;
}
.orange:hover{
    background-color: #EF781A;
}
.green{
    background: #00D008;
    border: #00D008;
}
.green:hover{
    background: #00D008;
}
.title{
    border-top: 2px solid #C4C4C4;
    padding: 76px 0 30px 70px;
    box-shadow: 0px 5px 10px #A1A1A1, 
    0px 5px 10px rgba(236, 236, 236, 1);
}
div>h2{
    font-weight: 800;
    margin-left: 100px;
}
.main-box{
    background-color: rgba(236, 236, 236, 1);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.navbar{
    background-color: rgba(236, 236, 236, 1);
}
li>a:hover{
    background-color: rgba(196, 196, 196, 1);
    border-radius: 10px;
}
h4{
    font-weight: 700;
    padding-left: 20px;
    margin-bottom: 30px;
}
.menu-box{
    width: 774px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    font-size: 1.125rem;
    width: 230px;
    box-shadow: 0px 5px 5px #A1A1A1, 
    0px 5px 5px #ECECEC;
    margin-bottom: 30px;
}
.card:hover .basket{
    visibility: visible;
    background-color: #EF781A;
    border: #EF781A;
}
.basket{
    visibility: hidden;
    position: absolute;
    top: 230px;
    left: 5px;
    background-color: #EF781A;
    border: #EF781A;
    margin-left: 8px;
}
.heart{
    margin-left: 80px;
}
.heart:hover path{
    fill: #69A042;
    stroke:#69A042
}
.card-text{
    color: rgba(161, 161, 161, 1);
    font-size: 0.625rem;
}
.price{
    width: 70%;
}
.partner-box{
    background-color: #fff;
    border-radius: 10px;
    width: 57%;
    margin-left: 20px;
    padding: 30px 30px;
}
.gray{
    color:  rgba(161, 161, 161, 1);
    font-size: 0.875rem;
    margin-bottom: 0;    
}
.order{
    background-color: #fff;
    border-radius: 5px;
    height: 315px;
    margin-left: 44px;
    margin-top: 20px;
}
.order-title{
    margin: 25px 0 30px 49px;
}
.items{
    display: flex;
    justify-content: space-around;
    margin-left: 53px;
    margin-right: 55px;
}
.quantity{
    display: flex;
    justify-content: space-around;
    padding-left: 30px;

}
.circle{
    background-color: #EF781A;
    color: #fff;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
    margin: 0 5px;
}
.order-price{
    padding-left: 180px;

}
.total{
    background-color: #EF781A;
    color: #fff;
    border-radius: 10px;
    height: 62px;
    text-align: center;
    padding-top: 20px;
    margin: 20px 10px;
}
.arrow-img{
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid lightgray;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    box-shadow: 0 0 10px #A1A1A1, 
    0px 0px 10px rgba(236, 236, 236, 1);
}
.up-arrow{
    background-color: rgba(236, 236, 236, 1);
    padding: 50px 0 50px 170px;
}
.footer{
    background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.footer-nav{
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    list-style: none;
}
.footer-nav-item{
    padding: 10px 10px;
}