html{
    font-size: 16px;
}
body, ul{
    margin: 0;
    padding: 0;
    background-color: #212520;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #FFF;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}
.nav{
    list-style: none;
    display: flex;
}
li.nav-item > a, .header-btn{
    text-decoration: none;
    color: white;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s;
    cursor: grab;
    font-size: 1.125rem;
}
li.nav-item >a:hover{
    color: #FFB742;
}
.btn-hire{
    color: #212529;
    text-decoration: none;
    background-color: #FFB742;
    padding: 12.5px 26px;
    border-radius: 50px;
    font-weight: 700;
}
.about{
    color: #FFF;
    margin: 0 auto;
    width: 80%;
    padding-top: 112px;
    text-align: center;
    font-weight: 700;
    font-family: Inter;
}
.about-link{
    text-decoration: underline;
    text-transform: none;
    color: #FFB742;
}
.about-line1{
    font-size: 2rem;
}
.about-line2{
    font-size: 3rem;
    margin-top: 10px;
}
.about-line3{
    font-size: 1.5rem;
    margin-top: 49px;
    margin-bottom: 40px;
}
.counters{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 112px;
    align-items: center;
}
.counter-card{
    width: 30%;
    background-color: #292B2E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px 0;
}
.counters-numbers{
    color: #FFB742;
    font-size: 2rem;
    font-weight: 700;
}
.counter-card:hover .counters-numbers{
    background-color: #FFB742;
    color: black;
    cursor: grab;
}
.counter-card:hover{
    background-color: #FFB742;
    color: black;
    cursor: grab;
}
.section-aboutme{
    display: flex;
    margin: 137px 49px 0 49px;
}
.title-gray-orange{
    width: 110px;
    color: #FFB742;
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    padding: 6px 25px;
    margin: 0 auto;
}
.title-gray-orange-position{
    margin-left: 0;
}
.aboutme{
    margin-top: 100px;
    font-weight: 400;
    color: #D4D4D4;
}
.aboutme-header, .works{
    font-family: Roboto;
    font-size: 3rem;
    font-weight: 700;
    color: #FFF;
} 
.aboutme-content{
    margin-bottom: 55px;
}
.works{
    text-align: center;
    margin-bottom: 20px;
}
.nav-works{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
li.nav-works-item > a{
    color: white;
    text-decoration: none;
    /* padding: 5px 20px; */
    box-sizing: border-box;
    transition: all .4s;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 10px;
}
li.nav-works-item >a:hover{
    color:#212529;
    background-color: #FFB742;
    border-radius: 3px;
    text-decoration: none;
    padding: 5px 20px;
    box-sizing: border-box;
    transition: all .4s;
    font-size: 1rem;
}
.work-pics{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 111px 121px 111px;
}
.work-pics-item{
    margin: 20px 20px;
    width: 29%;
}
div > img.work-pics-item:hover{
    border-radius: 5px;
    border: 2px solid orange;
    cursor: pointer;
}
.footer{
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-around;
    padding: 148px 50px 93px 50px;
}
.name{
    color: #FFB742;
    font-weight: 700;
    font-size: 2rem;
}
.name-job-description{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 1rem;
    color: #D4D4D4;
}
.links-media{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 1.35rem;
    margin-left: 10px ;
}
.nav-footer{
    list-style: none;
    align-items: center;
    margin-bottom: 30px;
    color: #7B7B7B;
    background-color: #1C1C1C;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 1.125rem;
}
li.nav-footer-item > a{
    color: #7B7B7B;
    text-decoration: none;
    box-sizing: border-box;
    transition: all .4s;
    font-size: 1rem;
    margin: 0 10px;
}
.footer-email{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 1.35rem;
}
.footer-email-field{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 1.125rem;
    color: #7B7B7B;
}
li.nav-footer-item > a:hover{
    color: #D4D4D4;
}